header{

    .div__logo {
        text-align: center;
        background-color: #ff6913;
    }
    .img__logo {
        width: 300px;
    
    }
    .nav_colorfuente{
        color: black;
        font-size: 25px;
    }
    
    .dropdown-menu-dark {
        background-color: rgb(117, 126, 102);
    
    }
    .perfcremdeso {
        color: black;
        font-size: 20px;
    }
    
    }