main        {
    .padincarrito {
        padding-bottom: 30px;
    }
    .estilocarrito {
    color: #8a0505;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 60px;
}

}